  // Small screens
  @media only screen and (max-width: $small-screens) {
    .wizard {
    width: 95%;
    
  }
    .wizard-step__container {
      max-width: 980px;
      min-width: 300px !important;
      min-height: auto;

    }
    .wizard-navigation {
      width: auto;
      flex-wrap: wrap;
      
    }
    .wizard-navigation-item {
      font-size: 14px;
    }
  }